* {
	margin: 0;
	padding: 0;
}

html, body {
	font-size: 10px;
	font-family: Verdana, sans-serif;
	text-align: center;
	background: #ffffff;
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
}

a:link {
  text-decoration : none;
  color : #888888;
}

a:visited {
  text-decoration : none;
  color : #888888;
}

a:hover {
  text-decoration : none;
  color : #222222;
}

#menu {
  left: 5em;
  top: 5em;
  width: 9.375em;
  overflow: fixed;
  margin: 3.750em 0 0px 0px;
  height: 37.500em;
  background-color: #ffffff;
  text-align: right;
  font-size: 11px;
  float: left;
  position: fixed;
	z-index: 1000;
}

.container {
	position: absolute;
	right:-6em;
}

#menu ul {
  line-height: 1.5em;
	list-style: none;
	margin: 0 0 1.50em 0;
}

#firstname {
  font-size: 3.5em;
  letter-spacing: -5px;
}

#lastname {
  font-size: 3.5em;
  letter-spacing: -5px;
	margin-top:-0.9em;
}

#img-container {
	max-width:100%;
}

#myCarousel {
	position:absolute;
	top:1em;
	left:35em;
	width:65%;
	height:auto;
}

.carousel-control.right, .carousel-control.left {
	background-image:none;
	width:20em;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
	position:relative;
	text-align: center;
	top:10em;
	opacity:0.1;
}

.carousel-control .glyphicon-chevron-left {
	position:absolute;
	left:-1em;
}

.carousel-control .glyphicon-chevron-right {
	position: absolute;
	left:15em;
}

.carousel-indicators {
	opacity:0.0;
}

.tall {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.video-img {
	width:25%;
	height: auto;
	padding-right: 2em;
	position: relative;
	float:right;
	top:3em;
}

.fade {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
	opacity: 0.5;
}


#unequal {
	display:inline-block;
	text-align: center;
	position:relative;
	right:15em;
}

.row {
	margin-bottom: 2em;
}

.contact {
	position:relative;
	top:15em;
	font-size:12px;
}
